/* Reset dei margini e del padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Stile del body */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Stile degli header */
  h1, h2 {
    text-align: center;
    padding: 10px 0;
    background-color: #3498db;
    color: #fff;
  }
  
  /* Stile dei link */
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Stile del contenitore dei manga */
  .manga-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  /* Stile dei titoli */
  h2 {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    text-align: center;
  }
  
/* Stile del singolo manga nell'elenco */
.manga-item {
    width: 100%; /* Larghezza ridotta rispetto a 50% per creare spazio per due manga */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Stile dell'immagine di copertina del manga */
  .manga-cover img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  
  /* Stile del titolo del manga */
  .manga-title {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 14px;
  }
  
  /* Stile delle informazioni del manga */
  .manga-info {
    font-size: 12px;
    color: #666;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  