{% extends 'base.html' %}

{% block title %}Dettagli Collezione{% endblock %}

{% block content %}
    <div class="collection-details">
        <h1>{{ collection.name }}</h1>
        <img src="{{ collection.image.url }}" alt="{{ collection.name }}" width="150">
        
        <div class="details">
            <p><strong>Autore:</strong> {{ collection.author }}</p>
            <p><strong>Completamento:</strong> {{ collection.completion_percentage }}%</p>
            <p><strong>Descrizione:</strong> {{ collection.description }}</p>
            <p><strong>Numero di volumi:</strong> {{ collection.numberofvolumes }}</p>
            <p><strong>Anno di pubblicazione:</strong> {{ collection.year }}</p>
            <p><strong>Editore:</strong> {{ collection.publisher }}</p>
            <p><strong>Genere:</strong> {{ collection.genre }}</p>
            <p><strong>Prezzo totale:</strong> {{ collection.totalprice }}</p>
        </div>
    </div>
    
    <h2>Volumi nella collezione:</h2>
    <form method="post" action="{% url 'update_volumes' collection.id %}">
        {% csrf_token %}
        <ul>
            {% for volume in collection.mangavolume_set.all %}
                <li>
                    <input type="checkbox" name="volumes" value="{{ volume.id }}" {% if volume.owned %}checked{% endif %}>
                    {{ volume.name }}
                    {% if volume.genre %}
                        <span class="volume-info">(Genere: {{ volume.genre.name }})</span>
                    {% endif %}
                    {% if volume.price %}
                        <span class="volume-info">- Prezzo: {{ volume.price }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Aggiorna Volumi</button>
    </form>
{% endblock %}
