{% extends 'base.html' %}

{% block title %}Dettagli Collezione{% endblock %}

{% block content %}
    <div class="collection-details">
        <h1>{{ collection.name }}</h1>
        <img src="{{ collection.image.url }}" alt="{{ collection.name }}" width="150">

        <h2>Preferiti:</h2>
        <label for="favorite">Preferito:</label>
        <input type="checkbox" name="favorite" value="1" {% if collection.favorite %}checked{% endif %}>
        <br>
        <br>
        <div class="details">
            <p><strong>Completamento:</strong> {{ collection.completion_percentage }}%</p>
            <p><strong>Autore:</strong> {{ collection.author }}</p>
            <p><strong>Descrizione:</strong> {{ collection.description }}</p>
            <p><strong>Numero di volumi:</strong> {{ collection.numberofvolumes }}</p>
            <p><strong>Anno di pubblicazione:</strong> {{ collection.year }}</p>
            <p><strong>Editore:</strong> {{ collection.publisher }}</p>
            <p><strong>Genere:</strong> {{ collection.genre }}</p>
            <p><strong>Prezzo totale:</strong> {{ collection.totalprice }}</p>
        </div>
    </div>
    
    <div class="collection-actions">
        <a href="{% url 'edit_collection' collection.id %}" class="edit-button">Modifica collezione</a>
        <form method="post" action="{% url 'delete_collection' collection.id %}" class="delete-form">
            {% csrf_token %}
            <button type="delete_button" class="delete-button">Elimina collezione</button>
        </form>
    </div>
    
    <h2>Volumi nella collezione:</h2>
    <button id="toggle-volumes">Mostra/Nascondi Volumi</button>
    <form id="volumes-form" method="post" action="{% url 'update_volumes' collection.id %}">
        {% csrf_token %}
        <ul id="volumes-list" style="display: none;">
            {% for volume in collection.mangavolume_set.all %}
                <li>
                    <input type="checkbox" name="volumes" value="{{ volume.id }}" {% if volume.owned %}checked{% endif %}>
                    {{ volume.name }}
                    {% if volume.genre %}
                        <span class="volume-info">(Genere: {{ volume.genre.name }})</span>
                    {% endif %}
                    {% if volume.price %}
                        <span class="volume-info">- Prezzo: {{ volume.price }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <!-- Aggiungi un campo nascosto per il campo "favorite" -->
        <input type="hidden" name="favorite" value="{{ collection.favorite }}">
        <br>
        <button type="submit" class="update-button">Aggiorna Volumi e Preferiti</button>
    </form>
    

    <script>
        const toggleButton = document.getElementById("toggle-volumes");
        const volumesList = document.getElementById("volumes-list");

        toggleButton.addEventListener("click", () => {
            volumesList.style.display = volumesList.style.display === "none" ? "block" : "none";
        });
    </script>
{% endblock %}
