    {% load static %}
    <!DOCTYPE html>

    <html lang="it">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/default_style.css' %}">
            <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
            <script src="{% static 'js/darkmode.js' %}"></script>
            <title>MangaDB</title>
            </head>
            <body>
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'homepage' %}">MangaDB</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_collection' %}">Aggiungi una collezione</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Profilo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Logout</a>
                                </li>
                                <div class="text-right">
                                    <button id="dark-mode-button" class="btn btn-primary" onclick="darkMode()">
                                        Dark mode
                                      </button>
                                      
                                      
                                </div>
                            </ul>
                        </div>
                    </nav>
                </header>
            
                <div class="container mt-4">
                    <!-- Aggiungi questo codice all'interno del blocco content -->
                    <h2 class="mt-4">La tua libreria:</h2>
                    <div class="row">
                        <!-- Schede dei manga -->
                        {% for collection in collections %}
                        <div class="col-md-12 col-6 mb-4">
                            <div class="card h-100 {% if collection.favorite %}favorite-card{% endif %}" style="height: 400px;">
                                <a href="{% url 'collection_detail' collection.id %}">
                                    <img src="{{ collection.image.url }}" class="card-img-top" alt="{{ collection.name }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ collection.name }}</h5>
                                    <p class="card-text">{{ collection.author }}</p>
                                    <p class="card-text completion">{{ collection.completion_percentage }}%</p>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            
                <footer class="text-center mt-4">
                    &copy; {{ current_year }} MangaDB. Tutti i diritti riservati.
                </footer>

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function() {
                      const darkModeButton = document.getElementById('dark-mode-button');
                      darkModeButton.onclick = function() {
                        darkMode();
                      };
                    });
                    </script>
            </body>
            
    </html>