<!DOCTYPE html>
<html>
<head>
    <title>MangaDB - Homepage</title>
</head>
<body>
    <h1>MangaDB</h1>
    <!--Link to admin panel--> 
    <a href="{% url 'admin:index' %}">Pannello Admin</a>

    <h2> Hai una nuova serie? Puoi cercarla qui:</h2>
    <!--Funzione di ricerca manga non in collezione--> 
    
    <h3>La tua libreria:</h3>
    <ul>
        {% for collection in collections %}
            <li>
                <a href="{% url 'collection_detail' collection.id %}">
                    <img src="{{ collection.image.url }}" alt="{{ collection.name }}" height="100">
                </a>
                - {{ collection.completion_percentage }}% completato
            </li>
        {% endfor %}
    </ul>
</body>
</html>
